<a href="https://colab.research.google.com/github/TYamashita-22016/M_Math/blob/main/c6_4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from numpy.ma.core import cumsum
import numpy as np
import numpy.random as random
import scipy as sp
import pandas as pd
from pandas import Series, DataFrame
import pandas_datareader.data as pdr

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
sns.set()
%matplotlib inline
%precision 3

import requests, zipfile
from io import StringIO
import io

from sklearn import linear_model

In [2]:
!pip install pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.2.6)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.6.15)

In [5]:
start_date = '2001/1/2'
end_date = '2016/12/30'

fx_jpusdata = pdr.DataReader('DEXJPUS', 'fred', start_date, end_date)

In [6]:
fx_jpusdata.head()

            DEXJPUS
DATE
2001-01-02   114.73
2001-01-03   114.26
2001-01-04   115.47
2001-01-05   116.19
2001-01-08   115.97

In [7]:
fx_jpusdata['2016-04']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

            DEXJPUS
DATE
2016-04-01   112.06
2016-04-04   111.18
2016-04-05   110.26
2016-04-06   109.63
2016-04-07   107.98
2016-04-08   108.36
2016-04-11   107.96
2016-04-12   108.54
2016-04-13   109.21
2016-04-14   109.20
2016-04-15   108.76
2016-04-18   108.85
2016-04-19   109.16
2016-04-20   109.51
2016-04-21   109.41
2016-04-22   111.50
2016-04-25   111.08
2016-04-26   111.23
2016-04-27   111.26
2016-04-28   108.55
2016-04-29   106.90

In [8]:
fx_jpusdata.resample('M').last().head()

            DEXJPUS
DATE
2001-01-31   116.39
2001-02-28   117.28
2001-03-31   125.54
2001-04-30   123.57
2001-05-31   118.88

In [9]:
fx_jpusdata.resample('D').last().head()

            DEXJPUS
DATE
2001-01-02   114.73
2001-01-03   114.26
2001-01-04   115.47
2001-01-05   116.19
2001-01-06      NaN

In [10]:
fx_jpusdata.resample('D').ffill().head()

            DEXJPUS
DATE
2001-01-02   114.73
2001-01-03   114.26
2001-01-04   115.47
2001-01-05   116.19
2001-01-06   116.19

In [11]:
fx_jpusdata.shift(1).head()

            DEXJPUS
DATE
2001-01-02      NaN
2001-01-03   114.73
2001-01-04   114.26
2001-01-05   115.47
2001-01-08   116.19

In [12]:
fx_jpusdata_ratio=fx_jpusdata / fx_jpusdata.shift(1)
fx_jpusdata_ratio.head()

             DEXJPUS
DATE
2001-01-02       NaN
2001-01-03  0.995903
2001-01-04  1.010590
2001-01-05  1.006235
2001-01-08  0.998107