<a href="https://colab.research.google.com/github/TYamashita-22016/M_Math/blob/main/Chap06_Ex_13%2614%2615.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# データの準備
import numpy as np
from numpy import nan as NA
import pandas as pd


df2 = pd.DataFrame(np.random.rand(15,6))

# NAにする
df2.iloc[2,0] = NA
df2.iloc[5:8,2] = NA
df2.iloc[7:9,3] = NA
df2.iloc[10,5] = NA


df2

           0         1         2         3         4         5
0   0.677456  0.980499  0.590383  0.662189  0.189893  0.045820
1   0.908086  0.590309  0.810695  0.375274  0.844995  0.754539
2        NaN  0.880550  0.462276  0.759989  0.846406  0.012479
3   0.909845  0.385722  0.607790  0.812772  0.329239  0.289863
4   0.488433  0.770301  0.749577  0.533599  0.758234  0.665906
5   0.430847  0.992244       NaN  0.216709  0.721914  0.179405
6   0.581800  0.364055       NaN  0.496899  0.874778  0.928607
7   0.840491  0.065204       NaN       NaN  0.472980  0.687231
8   0.271365  0.742260  0.423986       NaN  0.119585  0.877771
9   0.291097  0.873695  0.446509  0.019351  0.647768  0.956785
10  0.439118  0.194696  0.701968  0.454100  0.541838       NaN
11  0.050085  0.413358  0.545363  0.126124  0.254756  0.310388
12  0.864266  0.170716  0.916269  0.406132  0.276092  0.567019
13  0.754803  0.424202  0.055601  0.613747  0.738339  0.100170
14  0.757718  0.785445  0.794023  0.674871  0.564683  0.952170

In [3]:
df2.dropna()

           0         1         2         3         4         5
0   0.677456  0.980499  0.590383  0.662189  0.189893  0.045820
1   0.908086  0.590309  0.810695  0.375274  0.844995  0.754539
3   0.909845  0.385722  0.607790  0.812772  0.329239  0.289863
4   0.488433  0.770301  0.749577  0.533599  0.758234  0.665906
9   0.291097  0.873695  0.446509  0.019351  0.647768  0.956785
11  0.050085  0.413358  0.545363  0.126124  0.254756  0.310388
12  0.864266  0.170716  0.916269  0.406132  0.276092  0.567019
13  0.754803  0.424202  0.055601  0.613747  0.738339  0.100170
14  0.757718  0.785445  0.794023  0.674871  0.564683  0.952170

In [4]:
df2.fillna(0)

           0         1         2         3         4         5
0   0.677456  0.980499  0.590383  0.662189  0.189893  0.045820
1   0.908086  0.590309  0.810695  0.375274  0.844995  0.754539
2   0.000000  0.880550  0.462276  0.759989  0.846406  0.012479
3   0.909845  0.385722  0.607790  0.812772  0.329239  0.289863
4   0.488433  0.770301  0.749577  0.533599  0.758234  0.665906
5   0.430847  0.992244  0.000000  0.216709  0.721914  0.179405
6   0.581800  0.364055  0.000000  0.496899  0.874778  0.928607
7   0.840491  0.065204  0.000000  0.000000  0.472980  0.687231
8   0.271365  0.742260  0.423986  0.000000  0.119585  0.877771
9   0.291097  0.873695  0.446509  0.019351  0.647768  0.956785
10  0.439118  0.194696  0.701968  0.454100  0.541838  0.000000
11  0.050085  0.413358  0.545363  0.126124  0.254756  0.310388
12  0.864266  0.170716  0.916269  0.406132  0.276092  0.567019
13  0.754803  0.424202  0.055601  0.613747  0.738339  0.100170
14  0.757718  0.785445  0.794023  0.674871  0.564683  0.952170

In [6]:
df2.mean()

0    0.590386
1    0.575550
2    0.592037
3    0.473212
4    0.545433
5    0.523439
dtype: float64

In [7]:
df2.fillna(df2.mean())

           0         1         2         3         4         5
0   0.677456  0.980499  0.590383  0.662189  0.189893  0.045820
1   0.908086  0.590309  0.810695  0.375274  0.844995  0.754539
2   0.590386  0.880550  0.462276  0.759989  0.846406  0.012479
3   0.909845  0.385722  0.607790  0.812772  0.329239  0.289863
4   0.488433  0.770301  0.749577  0.533599  0.758234  0.665906
5   0.430847  0.992244  0.592037  0.216709  0.721914  0.179405
6   0.581800  0.364055  0.592037  0.496899  0.874778  0.928607
7   0.840491  0.065204  0.592037  0.473212  0.472980  0.687231
8   0.271365  0.742260  0.423986  0.473212  0.119585  0.877771
9   0.291097  0.873695  0.446509  0.019351  0.647768  0.956785
10  0.439118  0.194696  0.701968  0.454100  0.541838  0.523439
11  0.050085  0.413358  0.545363  0.126124  0.254756  0.310388
12  0.864266  0.170716  0.916269  0.406132  0.276092  0.567019
13  0.754803  0.424202  0.055601  0.613747  0.738339  0.100170
14  0.757718  0.785445  0.794023  0.674871  0.564683  0.952170